/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30%;
  margin-right: 10px;
  margin-top: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #000000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.banner {
  position: relative;
  background-image: url('image 7.png');
  background-size: cover;
  background-position: center;
  padding: 10px 10px;
  color: #fff;
  text-align: justify;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 25%;
  bottom: 0;
  background: linear-gradient(90deg, rgba(31, 31, 31, 4), rgba(81, 81, 81, 0));
  ;
  /* Adjust the overlay color and opacity as needed */
}

.banner .container {
  position: relative;
  z-index: 2;
}

.banner-content {
  width: 100%;
}

.banner-content h1 {
  font-size: 3em;
  margin-bottom: 0px;
}

.banner-content h2 {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 40px;
}

/* Content Styles */

.content {
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: rowz;
  justify-content: space-between;
}

.patient-info,
.appointment-info {
  align-content: center;
  width: 305%;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  padding: 10px;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="tel"],
.input-group select {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.availability-status {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.availability-status p {
  font-weight: bold;
  color: #666;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

footer {
  background-color: #B23939;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}