/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30%;
    margin-right: 10px;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
  }

.banner {
    position: relative;
    background-image: url('image 2.png');
    background-size: cover;
    background-position: center;
    padding: 5px 20px;
    color: #fff;
    text-align: justify;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 25%;
    bottom: 0;
    background: linear-gradient(90deg, rgba(31, 31, 31, 4), rgba(81, 81, 81, 0));; /* Adjust the overlay color and opacity as needed */
}

.banner .container {
    position: relative;
    z-index: 2;
}

.banner-content {
    width: 55%;
}

.banner-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.schedule {
    padding: 50px 0;
}

.schedule-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

footer {
    background-color: #B23939;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
